<div class="container mt-5">
  <h1 class="text-center mb-4">Edit Transaction</h1>

  <%= simple_form_for @transaction, html: { class: 'form-group' } do |form| %>
    <div class="form-group">
      <%= form.input :name, label: "Transaction Name", input_html: { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= form.input :description, label: "Description", input_html: { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= form.input :amount, label: "Amount", input_html: { class: 'form-control' } %>
    </div>

    <div class="form-group">
      <%= form.input :date, label: "Date", input_html: { class: 'form-control datepicker' } %>
    </div>

    <div class="form-group">
      <%= form.input :category, label: "Category", input_html: { class: 'form-control' } %>
    </div>

    <div class="form-group text-center">
      <%= form.button :submit, "Update Transaction", class: 'btn btn-primary' %>
    </div>
  <% end %>

  <div class="text-center mt-4">
    <%= link_to 'Back to Transactions', transactions_path, class: 'btn btn-secondary' %>
  </div>
</div>
